//font-face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: ttf) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face("DelaGothicOne-Regular", "../fonts/DelaGothicOne-Regular");
@include font-face("OpenSans-Regular", "../fonts/OpenSans-Regular");
@include font-face("OpenSans-Light", "../fonts/OpenSans-Light");
@include font-face("OpenSans-Bold", "../fonts/OpenSans-Bold");
