:root {
	--font-primary: sans-serif;
	--font-secondary: serif;

	/* set base values */
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;

	/* type scale */
	/* stylelint-disable max-line-length */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	/* stylelint-enable max-line-length */
}

body {
	font-size: var(--text-base-size);
}

body, button, input, select, textarea {
	font-family: $font-light;
}

b, strong {
	font-family: $font-bold;
	font-weight: 700;
}

h1, h2,
.related > h2:first-child,
.upsells > h2:first-child {
	font-family: $font-dela-gothic;
	font-weight: 400;
	color: $color-1;
	text-align: center;
	font-size: 14px;
	padding: 30px 10px;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto;
	word-spacing: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 700px;

	@include media-up($bp-M) {
		font-size: 20px;
		padding: 50px 10px;
	}

	@include media-up($bp-L) {
		font-size: 26px;
	}
}

h3 {
	font-family: $font-dela-gothic;
	font-weight: 400;
	color: $color-1;
	font-size: 14px;
	text-transform: none;
	margin-bottom: 15px;

	@include media-up($bp-M) {
		font-size: 16px;
	}
}

p {
	font-family: $font-light;
	font-size: 14px;
	color: $color-11;
}

.input-text,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea{
	font-family: $font-light;
	font-weight: 300;
	color: $color-18;
}

input[type=number] {
	font-family: $font-bold;
	font-weight: 700;
	color: $color-1;
}

label {
	font-family: $font-base;
	font-weight: 400;
	color: $color-18;
}

.qty-button {
	font-family: $font-bold;
	font-weight: 700;
	color: $color-1;
}

.entry-title,
.section-title,
.page-title,
.related > h2 {
	&::before,
	&::after {
		content: url(../../assets/img/fish_small__mobile.svg);
		display: inline-block;
		font-size: 0;

		@include media-up($bp-M) {
			content: url(../../assets/img/fish_small.svg);
		}
	}

	&::before {
		margin-right: 5px;
		@include media-up($bp-M) {
			margin-right: 13px;
		}
	}

	&::after {
		margin-left: 10px;
		@include media-up($bp-M) {
			margin-left: 30px;
		}
	}
}

.product_title {
	text-align: left;
	padding: 20px 0;
	margin: 0;

	&::before,
	&::after {
		display: none;
	}
}

ul.products {
	padding: 10px;
}

ul.products li.product {
	border: 1px solid $color-2;
	transition: 200ms ease-in-out;
	box-shadow: 0 4px 15px 0 $color-17;
	border-radius: 25px;
	margin: 10px auto 10px;
	max-width: 400px;

    @include media-up($bp-XL) {
		border-radius: 50px;
		margin-bottom: 60px;
		margin-right: 4.347826087%;
		max-width: 100%;
		box-shadow: 0 4px 15px 0 $color-17;

        &:hover {
            border-radius: 50px;
            border: 1px solid $color-16;
            background: $color-2;
            box-shadow: 0 4px 15px 0 $color-17;

			.add_to_cart_button {
				opacity: 1;
			}
        }
    }

	&.outofstock {
		box-shadow: 0 4px 15px 0 $color-17;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: $color-22;
			z-index: 9;
		}

		.button {
			font-family: $font-dela-gothic;
			font-size: 14px;
			line-height: 18px;
			position: absolute;
			top: 0;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			margin-top: 0;
			border-radius: 0 0 40px 40px;
			font-weight: 400;
			height: auto;
			text-transform: none;
			max-width: 235px;
			padding: 13px 20px;
			z-index: 10;
			cursor: context-menu;

			@include media-up($bp-L) {
				border-radius: 0 0 50px 50px;
				font-size: 16px;
				line-height: 26px;
				padding: 11px 20px;
				max-width: 294px;
			}
		}
	}

	.attachment-woocommerce_thumbnail {
		max-width: 200px;
        margin-top: 28px;

		@include media-up($bp-XL) {
			max-width: 100%;
			width: 215px;
			height: 215px;
			object-fit: contain;
		}
    }

	.badges {
		position: absolute;
		top: 4%;
		right: 6%;

		@include media-up($bp-L) {
			right: 5%;
		}

		.item-link {
			position: relative;
			transition: 200ms ease-in-out;

			@include media-up($bp-L) {
				&:hover {
					.item-name {
						display: block;
					}
				}
			}
		}

		.item-name {
			display: none;
			position: absolute;
			top: 90%;
			left: 60%;
			transform: translateX(-50%);
			background-color: $color-2;
			padding: 10px 12px;
			border-radius: 8px;
			box-shadow: 0 2px 4px $color-14;
			font-size: 12px;
			font-style: normal;
			line-height: 110%;
			text-transform: uppercase;
			z-index: 10;

			&:before {
				content: "";
				position: absolute;
				//bottom: 100%;
				//left: 50%;
				//margin-left: -5px;
				//border-width: 5px;
				//border-style: solid;
				//border-color: transparent transparent $color-2 transparent;
				bottom: 83%;
				left: 30%;
				width: 0;
				height: 0;
				border-style: solid;
				border-color: transparent transparent $color-2 transparent;
				transform: rotate(90deg);
				z-index: 9;
				border-width: 0 5px 10px 5px;
			}
		}

		img {
			width: 37px;
			margin: 0 auto 13px;

			@include media-up($bp-XL) {
				width: 49px;
			}
		}
	}

	.add_to_cart_button {
		display: flex;
		flex-direction: row-reverse;
		font-size: 12px;
		padding: 10px 12px;
		align-items: center;
		width: fit-content;
		height: 46px;
		position: absolute;
		right: 4%;
		bottom: 8%;
		transition: 200ms ease-in-out;
		border-radius: 18px;

		@include media-up($bp-M) {
			border-radius: 24px;
			padding: 15px 25px;
			opacity: 0;
			height: 64px;
		}

		&::before {
			content: url(../../assets/img/add.svg);
			display: inline-block;
			font-size: 0;
			margin-left: 10px;
			transform: scale(0.8);
		}
	}

	.ingredients,
	.grams {
		padding-bottom: 22px;
	}
}

ul.products li.product .woocommerce-loop-product__title {
	font-family: $font-bold;
	text-transform: none;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 4px;
	font-weight: 700;

	@include media-up($bp-M) {
		padding: 22px 10px 0;
		font-size: 20px;
		margin-bottom: 6px;
	}

	@include media-up($bp-L) {
		font-size: 26px;
	}
}

.badges {
	position: absolute;
	top: 4%;
	right: 6%;

	@include media-up($bp-L) {
		right: 5%;
	}

	.item-link {
		position: relative;
		transition: 200ms ease-in-out;

		@include media-up($bp-L) {
			&:hover {
				.item-name {
					display: block;
				}
			}
		}
	}

	.item-name {
		display: none;
		position: absolute;
		top: 90%;
		left: 80%;
		transform: translateX(-50%);
		background-color: $color-2;
		padding: 10px 12px;
		border-radius: 8px;
		box-shadow: 0 2px 4px $color-14;
		font-size: 12px;
		font-style: normal;
		line-height: 110%;
		text-transform: uppercase;
		z-index: 10;

		&:before {
			content: "";
			position: absolute;
			bottom: 83%;
			left: 30%;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent transparent $color-2 transparent;
			transform: rotate(90deg);
			z-index: 9;
			border-width: 0 5px 10px 5px;
		}
	}

	img {
		width: 37px;
		margin: 0 auto 13px;

		@include media-up($bp-XL) {
			width: 49px;
		}
	}
}

.woocommerce-Price-amount,
.xoo-wsc-body span.amount.woocommerce-Price-amount {
	font-size: 16px;
	font-family: $font-bold;
	font-weight: 700;
	color: $color-1;

	@include media-up($bp-M) {
		font-size: 24px;
	}
}

.price del,
del .woocommerce-Price-amount,
.xoo-wsc-body del span.amount.woocommerce-Price-amount,
.woocommerce-checkout del .woocommerce-Price-amount {
	font-size: 12px;
	font-family: $font-light;
	font-weight: 300;
	color: $color-18;

	@include media-up($bp-M) {
		font-size: 14px;
	}
}

.price del .woocommerce-Price-currencySymbol,
del .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
	display: none;
}

ins .woocommerce-Price-amount,
.price ins .woocommerce-Price-amount,
.xoo-wsc-body ins span.amount.woocommerce-Price-amount {
	color: $color-10;
}

.wc-block-grid__products .wc-block-grid__product .price ins,
.wc-block-grid__products li.product .price ins,
ul.products .wc-block-grid__product .price ins,
ul.products li.product .price ins,
.price del + ins {
	margin-left: 0;
}

.woocommerce-Price-currencySymbol {
	margin-left: 5px;
}

.single-product .product .summary .woocommerce-Price-amount {
	font-size: 20px;

	@include media-up($bp-M) {
		font-size: 26px;
	}
}

.single-product .product .summary .price del,
.single-product .product .summary del .woocommerce-Price-amount {
	font-size: 14px;

	@include media-up($bp-M) {
		font-size: 16px;
	}
}

.xoo-wsc-body span.amount.woocommerce-Price-amount,
.woocommerce-checkout .woocommerce-Price-amount {
	font-size: 16px;

	@include media-up($bp-M) {
		font-size: 20px;
	}
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;

	.badges {
		position: absolute;
		top: 2%;
		right: 12%;

		img {
			margin-bottom: 6px;
		}
	}
}

.added_to_cart.wc-forward {
	display: none;
}

.woocommerce .button.loading:after {
	display: none !important;
}

.single,
.storefront-product-section {
	.show-more-button {
		display: flex;
		justify-content: center;
		margin: 18px 10px 24px;
	}
}

.archive {
	.show-more-button {
		display: none;
	}
}

ul.products.columns-3 li.product {
	@include media-up($bp-M) {
		width: 30.4347826087%;
		float: left;
		margin-right: 4.347826087%;
	}
}

.storefront-breadcrumb {
	display: none;
	margin: 0;
	padding: 64px 0 6px;

	@include media-up($bp-L) {
		display: block;
	}

	.woocommerce-breadcrumb {
		font-family: $font-light;
		font-size: 12px;
		color: $color-23;
		text-decoration: none;
		line-height: 110%;

		a {
			font-family: $font-light;
			font-size: 12px;
			color: $color-23;
			text-decoration: none;
			line-height: 110%;
			transition: 200ms ease-in-out;

			&:hover {
				color: $color-24;
			}

			&::before {
				display: none;
			}
		}
	}
}