:root {
    --font-primary: sans-serif;
    --font-secondary: serif;
  
    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
  
    /* type scale */
    /* stylelint-disable max-line-length */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    /* stylelint-enable max-line-length */
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
}

h2 {
    font-family: $font-dela-gothic;
    color: $color-1;
    text-align: center;
    font-size: 14px;
    padding: 50px;
    text-transform: uppercase;
    position: relative;

    @include media-up($bp-M) {
        font-size: 20px;
    }

    @include media-up($bp-L) {
        font-size: 26px;
    }
}

p {
    font-family: $font-light;
    font-size: 14px;
    color: $color-11;
}

.storefront-product-section {
    > h2 {
        &::before,
        &::after {
            content: " ";
            background: center no-repeat url(../../assets/img/fish.png);
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            z-index: 9;
        }

        &::before {
            top: 45%;

            @include media-up($bp-SM) {
                top: 0;
                right: 60%;
            }

            @include media-up($bp-M) {
                right: 50%;
            }

            @include media-up($bp-4XL) {
                right: 26%;
            }
        }

        &::after {
            top: -45%;

            @include media-up($bp-SM) {
                top: 0;
                right: -60%;
            }

            @include media-up($bp-M) {
                right: -50%;
            }

            @include media-up($bp-4XL) {
                right: -28%;
            }
        }
    }
}

ul.products {
    padding: 10px;
}

ul.products li.product {
    border: 1px solid $color-2;
    transition: 200ms ease-in-out;
	box-shadow: 0 4px 15px 0 $color-17;
	border-radius: 25px;
	margin: 10px auto 10px;
	max-width: 400px;

    @include media-up($bp-XL) {
		border-radius: 50px;
		box-shadow: none;
		margin-bottom: 60px;
		margin-right: 4.347826087%;
		max-width: 100%;

        &:hover {
            border-radius: 50px;
            border: 1px solid $color-16;
            background: $color-2;
            box-shadow: 0 4px 15px 0 $color-17;

			.add_to_cart_button {
				display: flex;
			}
        }
    }

	.attachment-woocommerce_thumbnail {
		max-width: 200px;
        margin-top: 28px;

		@include media-up($bp-XL) {
			max-width: 100%;
			width: 215px;
			height: 215px;
			object-fit: contain;
		}
    }

	.woocommerce-loop-product__link {
		.badges {
			position: absolute;
			top: 4%;
			right: 6%;

			@include media-up($bp-L) {
				right: 5%;
			}

			img {
				width: 37px;
				margin: 0 auto 13px;

				@include media-up($bp-XL) {
					width: 49px;
				}
			}
		}
	}

	.add_to_cart_button {
		font-family: $font-bold;
		color: $color-2;
		font-size: 12px;
		background-color: $color-10;
		padding: 15px 25px;
		border-radius: 24px;
		display: flex;
		align-items: center;
		width: fit-content;
		position: absolute;
		right: 4%;
		bottom: 8%;
		transition: 200ms ease-in-out;

		@include media-up($bp-XL) {
			display: none;
		}

		&::after {
			content: url(../../assets/img/add.svg);
			display: inline-block;
			font-size: 0;
			margin-left: 10px;
		}
	}

	.ingredients,
    .grams {
        padding-bottom: 22px;
    }

}

ul.products li.product .woocommerce-loop-product__title {
    font-family: $font-bold;
    text-transform: none;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 4px;
    font-weight: 700;

    @include media-up($bp-M) {
        padding: 22px 10px 0;
        font-size: 20px;
        margin-bottom: 6px;
    }

    @include media-up($bp-L) {
        font-size: 26px;
    }
}

.woocommerce-Price-amount,
.xoo-wsc-body span.amount.woocommerce-Price-amount {
	font-size: 16px;
	font-family: $font-bold;
	font-weight: 700;
	color: $color-1;

	@include media-up($bp-M) {
		font-size: 24px;
	}
}

.price del,
del .woocommerce-Price-amount,
.xoo-wsc-body del span.amount.woocommerce-Price-amount,
.woocommerce-checkout del .woocommerce-Price-amount {
	font-size: 12px;
	font-family: $font-light;
	font-weight: 300;
	color: $color-18;

	@include media-up($bp-M) {
		font-size: 14px;
	}
}

.price del .woocommerce-Price-currencySymbol,
del .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
	display: none;
}

ins .woocommerce-Price-amount,
.price ins .woocommerce-Price-amount,
.xoo-wsc-body ins span.amount.woocommerce-Price-amount {
	color: $color-10;
}

.wc-block-grid__products .wc-block-grid__product .price ins,
.wc-block-grid__products li.product .price ins,
ul.products .wc-block-grid__product .price ins,
ul.products li.product .price ins,
.price del + ins {
	margin-left: 0;
}

.woocommerce-Price-currencySymbol {
	margin-left: 5px;
}

.single-product .product .summary .woocommerce-Price-amount {
	font-size: 20px;

	@include media-up($bp-M) {
		font-size: 26px;
	}
}

.single-product .product .summary .price del,
.single-product .product .summary del .woocommerce-Price-amount {
	font-size: 14px;

	@include media-up($bp-M) {
		font-size: 16px;
	}
}

.xoo-wsc-body span.amount.woocommerce-Price-amount,
.woocommerce-checkout .woocommerce-Price-amount {
	font-size: 16px;

	@include media-up($bp-M) {
		font-size: 20px;
	}
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;

	.badges {
		position: absolute;
		top: 2%;
		right: 12%;

		img {
			margin-bottom: 6px;
		}
	}
}