*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg, white);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
form legend {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

button,
input,
textarea,
select {
  margin: 0;
}

.btn,
.form-control,
.link,
.reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

select.form-control::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

input::-ms-clear {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg {
  max-width: 100%;
}

.site-main > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.site .menu-item a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  text-decoration: none;
  background: unset;
}

.site-header, .site-main, .widget-area, .site-footer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* stylelint-disable */
:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  /* stylelint-disable max-line-length */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* stylelint-enable max-line-length */
}

body {
  font-size: var(--text-base-size);
}

body, button, input, select, textarea {
  font-family: "OpenSans-Light", sans-serif;
}

h1, h2,
.related > h2:first-child,
.upsells > h2:first-child {
  font-family: "DelaGothicOne-Regular", sans-serif;
  font-weight: 400;
  color: #2a1a5e;
  text-align: center;
  font-size: 14px;
  padding: 50px 10px;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  word-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}
@media (min-width: 768px) {
  h1, h2,
  .related > h2:first-child,
  .upsells > h2:first-child {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  h1, h2,
  .related > h2:first-child,
  .upsells > h2:first-child {
    font-size: 26px;
  }
}

h3 {
  font-family: "DelaGothicOne-Regular", sans-serif;
  font-weight: 400;
  color: #2a1a5e;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 16px;
  }
}

p {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 14px;
  color: #262730;
}

.input-text,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  color: rgba(50, 53, 73, 0.7);
}

input[type=number] {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #2a1a5e;
}

label {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  color: rgba(50, 53, 73, 0.7);
}

.qty-button {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #2a1a5e;
}

.entry-title::before, .entry-title::after,
.section-title::before,
.section-title::after,
.page-title::before,
.page-title::after,
.related > h2::before,
.related > h2::after {
  content: url(../../assets/img/fish_small__mobile.svg);
  display: inline-block;
  font-size: 0;
}
@media (min-width: 768px) {
  .entry-title::before, .entry-title::after,
  .section-title::before,
  .section-title::after,
  .page-title::before,
  .page-title::after,
  .related > h2::before,
  .related > h2::after {
    content: url(../../assets/img/fish_small.svg);
  }
}
.entry-title::before,
.section-title::before,
.page-title::before,
.related > h2::before {
  margin-right: 5px;
}
@media (min-width: 768px) {
  .entry-title::before,
  .section-title::before,
  .page-title::before,
  .related > h2::before {
    margin-right: 13px;
  }
}
.entry-title::after,
.section-title::after,
.page-title::after,
.related > h2::after {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .entry-title::after,
  .section-title::after,
  .page-title::after,
  .related > h2::after {
    margin-left: 30px;
  }
}

.product_title {
  text-align: left;
  padding: 20px 0;
  margin: 0;
}
.product_title::before, .product_title::after {
  display: none;
}

ul.products {
  padding: 10px;
}

ul.products li.product {
  border: 1px solid #ffffff;
  transition: 200ms ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  margin: 10px auto 10px;
  max-width: 400px;
}
@media (min-width: 1200px) {
  ul.products li.product {
    border-radius: 50px;
    box-shadow: none;
    margin-bottom: 60px;
    margin-right: 4.347826087%;
    max-width: 100%;
  }
  ul.products li.product:hover {
    border-radius: 50px;
    border: 1px solid rgba(42, 26, 94, 0.4);
    background: #ffffff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  }
  ul.products li.product:hover .add_to_cart_button {
    display: flex;
  }
}
ul.products li.product .attachment-woocommerce_thumbnail {
  max-width: 200px;
  margin-top: 28px;
}
@media (min-width: 1200px) {
  ul.products li.product .attachment-woocommerce_thumbnail {
    max-width: 100%;
    width: 215px;
    height: 215px;
    object-fit: contain;
  }
}
ul.products li.product .woocommerce-loop-product__link .badges {
  position: absolute;
  top: 4%;
  right: 6%;
}
@media (min-width: 992px) {
  ul.products li.product .woocommerce-loop-product__link .badges {
    right: 5%;
  }
}
ul.products li.product .woocommerce-loop-product__link .badges img {
  width: 37px;
  margin: 0 auto 13px;
}
@media (min-width: 1200px) {
  ul.products li.product .woocommerce-loop-product__link .badges img {
    width: 49px;
  }
}
ul.products li.product .add_to_cart_button {
  font-family: "OpenSans-Bold", sans-serif;
  color: #ffffff;
  font-size: 12px;
  background-color: #ff671d;
  padding: 15px 25px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  right: 4%;
  bottom: 8%;
  transition: 200ms ease-in-out;
}
@media (min-width: 1200px) {
  ul.products li.product .add_to_cart_button {
    display: none;
  }
}
ul.products li.product .add_to_cart_button::after {
  content: url(../../assets/img/add.svg);
  display: inline-block;
  font-size: 0;
  margin-left: 10px;
}
ul.products li.product .ingredients,
ul.products li.product .grams {
  padding-bottom: 22px;
}

ul.products li.product .woocommerce-loop-product__title {
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: none;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 4px;
  font-weight: 700;
}
@media (min-width: 768px) {
  ul.products li.product .woocommerce-loop-product__title {
    padding: 22px 10px 0;
    font-size: 20px;
    margin-bottom: 6px;
  }
}
@media (min-width: 992px) {
  ul.products li.product .woocommerce-loop-product__title {
    font-size: 26px;
  }
}

.woocommerce-Price-amount,
.xoo-wsc-body span.amount.woocommerce-Price-amount {
  font-size: 16px;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  color: #2a1a5e;
}
@media (min-width: 768px) {
  .woocommerce-Price-amount,
  .xoo-wsc-body span.amount.woocommerce-Price-amount {
    font-size: 24px;
  }
}

.price del,
del .woocommerce-Price-amount,
.xoo-wsc-body del span.amount.woocommerce-Price-amount,
.woocommerce-checkout del .woocommerce-Price-amount {
  font-size: 12px;
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
  color: rgba(50, 53, 73, 0.7);
}
@media (min-width: 768px) {
  .price del,
  del .woocommerce-Price-amount,
  .xoo-wsc-body del span.amount.woocommerce-Price-amount,
  .woocommerce-checkout del .woocommerce-Price-amount {
    font-size: 14px;
  }
}

.price del .woocommerce-Price-currencySymbol,
del .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
  display: none;
}

ins .woocommerce-Price-amount,
.price ins .woocommerce-Price-amount,
.xoo-wsc-body ins span.amount.woocommerce-Price-amount {
  color: #ff671d;
}

.wc-block-grid__products .wc-block-grid__product .price ins,
.wc-block-grid__products li.product .price ins,
ul.products .wc-block-grid__product .price ins,
ul.products li.product .price ins,
.price del + ins {
  margin-left: 0;
}

.woocommerce-Price-currencySymbol {
  margin-left: 5px;
}

.single-product .product .summary .woocommerce-Price-amount {
  font-size: 20px;
}
@media (min-width: 768px) {
  .single-product .product .summary .woocommerce-Price-amount {
    font-size: 26px;
  }
}

.single-product .product .summary .price del,
.single-product .product .summary del .woocommerce-Price-amount {
  font-size: 14px;
}
@media (min-width: 768px) {
  .single-product .product .summary .price del,
  .single-product .product .summary del .woocommerce-Price-amount {
    font-size: 16px;
  }
}

.xoo-wsc-body span.amount.woocommerce-Price-amount,
.woocommerce-checkout .woocommerce-Price-amount {
  font-size: 16px;
}
@media (min-width: 768px) {
  .xoo-wsc-body span.amount.woocommerce-Price-amount,
  .woocommerce-checkout .woocommerce-Price-amount {
    font-size: 20px;
  }
}

.single-product div.product .woocommerce-product-gallery {
  position: relative;
}
.single-product div.product .woocommerce-product-gallery .badges {
  position: absolute;
  top: 2%;
  right: 12%;
}
.single-product div.product .woocommerce-product-gallery .badges img {
  margin-bottom: 6px;
}

@font-face {
  font-family: "DelaGothicOne-Regular";
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
/* stylelint-disable */
body .navigation-branding {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1528px;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 992px) {
  body .navigation-branding {
    padding: 10px 20px;
    justify-content: normal;
  }
}
@media (min-width: 1200px) {
  body .navigation-branding {
    padding: 14px 20px;
  }
}
body .navigation-branding a {
  padding: 0;
}
body .navigation-branding img {
  height: 34px;
  width: auto;
  margin: 10px 0;
  display: block;
  transition: height 0.3s ease;
}
@media (min-width: 834px) {
  body .navigation-branding .site-logo {
    padding-right: 40px;
  }
}
body .navigation-branding .site-logo img {
  height: 34px;
}
@media (min-width: 992px) {
  body .navigation-branding .site-logo img {
    height: 46px;
  }
}
body .navigation-branding .header-schedule {
  display: none;
}
@media (min-width: 834px) {
  body .navigation-branding .header-schedule {
    display: flex;
  }
}
body .navigation-branding .header-socials {
  display: none;
}
@media (min-width: 834px) {
  body .navigation-branding .header-socials {
    display: flex;
  }
}

.categories-menu {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
}
@media (min-width: 834px) {
  .categories-menu {
    overflow: visible;
  }
}
.categories-menu__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.categories-menu__container li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: auto;
  height: auto;
}
@media (min-width: 1200px) {
  .categories-menu__container li:not(:first-child):hover {
    background: rgba(217, 217, 217, 0.19);
  }
}
.categories-menu__container li:first-child::before {
  content: url(../../assets/img/fire.svg);
  display: inline-block;
  font-size: 0;
}
.categories-menu__container li:first-child:hover {
  opacity: 0.9;
}
.categories-menu__container li:first-child .categories-menu__link {
  padding-left: 4px;
}
@media (min-width: 992px) {
  .categories-menu__container li:hover .categories-menu__category-name {
    display: block;
  }
}
.categories-menu__link {
  position: relative;
  text-transform: uppercase;
  color: #f45905;
  font-weight: 800;
  padding: 12px 0;
}
@media (min-width: 1200px) {
  .categories-menu__link {
    padding: 14px 36px;
  }
}
.categories-menu__category-name {
  display: none;
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #37296c;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  text-transform: uppercase;
}
.categories-menu__category-name::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.primary-navigation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.primary-navigation ul li:nth-of-type(5) {
  margin-left: auto;
}
.primary-navigation ul li a {
  font-size: 13px;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
  padding: 0 20px;
}

.storefront-primary-navigation {
  position: relative;
  background-color: #ffffff;
}
.storefront-primary-navigation .main-navigation {
  display: none;
}

.site-header {
  border-bottom: none;
}

.top-bar {
  background-color: #2a1a5e;
  text-align: center;
  padding: 4px;
}
.top-bar p {
  font-family: "OpenSans-Bold", sans-serif;
  color: #ffffff;
  font-size: 12px;
}
@media (min-width: 992px) {
  .top-bar p {
    font-size: 13px;
  }
}
.top-bar p a {
  text-decoration: underline;
}
.top-bar p a:hover {
  color: rgba(217, 217, 217, 0.19);
}

/* stylelint-enable */
.input-text,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  padding: 7px 3px;
}

.input-text:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-row {
  width: 47%;
  margin-bottom: 20px;
}
.form-row.form-row-wide {
  width: 100%;
}
.form-row.form-row-number {
  margin-bottom: 10px;
  user-select: none;
  display: flex;
  justify-content: space-between;
}
.form-row.form-row-number label {
  display: inline-block;
}
.form-row.form-row-number input {
  width: auto;
}

input[type=number] {
  border: none;
  max-width: 34px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  box-shadow: none !important;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]:focus {
  border-bottom: none;
}

.qty-button {
  width: 24px;
  height: 24px;
  display: inline-flex;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.site-footer {
  background-color: #ffffff;
}
.site-footer h2 {
  color: #2a1a5e;
  padding: 10px 10px 34px;
}
@media (min-width: 992px) {
  .site-footer h2 {
    padding: 10px 10px 53px;
  }
}
.site-footer h2.title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .site-footer h2.title {
    font-size: 26px;
  }
}
.site-footer .payment-method {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 834px) {
  .site-footer .payment-method {
    flex-wrap: nowrap;
  }
}
.site-footer .payment-method__item {
  width: 100%;
  height: 200px;
  z-index: 0;
  background-image: var(--bg-desktop);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 550px) {
  .site-footer .payment-method__item {
    height: 305px;
  }
}
@media (min-width: 834px) {
  .site-footer .payment-method__item {
    height: 405px;
  }
}
.site-footer .payment-method__item h2 {
  text-align: left;
  padding: 18px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .site-footer .payment-method__item h2 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .site-footer .payment-method__item h2 {
    font-size: 26px;
    text-align: center;
    padding: 38px 10px;
  }
}
.site-footer .footer {
  background: #2a1a5e;
  padding: 10px;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 300;
  z-index: 1;
  text-align: center;
}
@media (min-width: 1200px) {
  .site-footer .footer {
    padding: 28px 10px 20px;
  }
}
@media (min-width: 1600px) {
  .site-footer .footer {
    padding: 40px 10px 36px;
  }
}
@media (min-width: 768px) {
  .site-footer .footer-top {
    display: flex;
    justify-content: space-between;
  }
}
.site-footer .footer-logo img {
  margin: 42px auto 22px;
}
.site-footer .footer-schedule {
  display: none;
}
@media (min-width: 768px) {
  .site-footer .footer-schedule {
    display: flex;
    align-items: center;
  }
}
.site-footer .footer-schedule__time {
  text-align: left;
  padding-left: 6px;
}
.site-footer .footer-schedule p {
  color: #ffffff;
}
.site-footer .footer-bottom {
  position: relative;
  color: #ffffff;
  margin: 30px 10px;
}
@media (min-width: 768px) {
  .site-footer .footer-bottom {
    margin-top: 50px;
  }
}
.site-footer .footer-bottom p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
@media (min-width: 992px) {
  .site-footer .footer-bottom p {
    padding: 0 100px;
  }
}
@media (min-width: 1200px) {
  .site-footer .footer-bottom p {
    font-size: 14px;
  }
}
.site-footer .footer-bottom img {
  height: 34px;
  margin: 12px auto;
  width: auto;
}
@media (min-width: 768px) {
  .site-footer .footer-bottom img {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }
}
.site-footer .footer-socials {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-footer .footer-socials {
    flex-direction: row;
    align-items: center;
  }
}
.site-footer .footer-socials .social__list {
  padding-bottom: 14px;
}
.site-footer .footer-socials .social__list:not(:last-child) {
  padding-right: 30px;
}
@media (min-width: 768px) {
  .site-footer .footer-socials .social__list {
    padding-right: 24px;
    padding-bottom: 0;
  }
  .site-footer .footer-socials .social__list:nth-child(5) {
    margin-left: auto;
  }
}
.site-footer .footer-socials .social__list-link {
  font-family: "OpenSans-Regular", sans-serif;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .site-footer .footer-socials .social__list-link {
    font-size: 14px;
  }
}
.site-footer .footer .menu-footer-container {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container {
    border-top: 1px solid #ffffff;
  }
}
@media (min-width: 1200px) {
  .site-footer .footer .menu-footer-container {
    margin-top: 34px;
  }
}
.site-footer .footer .menu-footer-container .menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container .menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .site-footer .footer .menu-footer-container .menu {
    justify-content: space-between;
  }
}
.site-footer .footer .menu-footer-container .menu .menu-item {
  padding: 4px 10px;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container .menu .menu-item {
    padding: 25px 10px 10px;
  }
}
.site-footer .footer .menu-footer-container .menu .menu-item a {
  font-family: "OpenSans-Regular", sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  transition-duration: 0.3s;
}
.site-footer .footer .menu-footer-container .menu .menu-item a:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container .menu .menu-item a {
    font-size: 16px;
  }
}

.header-socials {
  display: flex;
  padding-left: 16px;
}
@media (min-width: 834px) {
  .header-socials {
    padding: 0 2.617924em;
  }
}
.header-socials .social__list {
  padding-right: 12px;
}
.header-socials .social__list img {
  height: 24px;
}
.header-socials .social__list:nth-child(3) img, .header-socials .social__list:nth-child(4) img {
  height: 30px;
}
.header-socials .social__list:nth-child(3) {
  padding-right: 3px;
}
.header-schedule {
  display: flex;
}
.header-schedule strong {
  color: #2a1a5e;
}
.header-schedule span img {
  height: 32px;
  padding-right: 6px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 601px) {
  body.logged-in.admin-bar header.header {
    max-height: calc(100vh - 46px);
    top: 46px;
  }
}
@media (min-width: 783px) {
  body.logged-in.admin-bar header.header {
    max-height: calc(100vh - 32px);
    top: 32px;
  }
}

.header-sticky.fadeInDown {
  animation-name: fadeInDown;
}
.header-sticky.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -100px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes arrowEnter {
  0% {
    transform: translate(-300%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes navbloop {
  0% {
    transform: scale(0) translateY(-50%);
  }
  100% {
    transform: scale(1) translateY(-50%);
  }
}
@media (max-width: 992px) {
  body.fixed {
    position: fixed;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
  }
}
.site-header {
  background-color: #ffffff;
}

header .col-full {
  max-width: 100%;
}

.hidden {
  display: none;
}

table:not(.has-background) tbody tr:nth-child(2n) td,
fieldset, fieldset legend .ib-background-custom-field {
  background-color: #f8f8f8;
}

.ib-badge {
  position: absolute;
  top: 13px;
  left: 13px;
}

.promo-label {
  display: inline-block;
  border-radius: 50px;
  font-family: Arial, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffa900;
  color: #fff;
  padding: 4px 8px;
}

.ib-bgr-gray {
  background-color: #aaaaaa;
}

.ib-bgr-green {
  background-color: #55b293;
}

.ib-pre-order-inscrip {
  display: flex;
  padding-left: 4.5em;
}

.outofstock a.button {
  margin-top: 2.7em;
}

@media (max-width: 768px) {
  .outofstock a.button {
    margin-top: 0;
  }
  .ib-badge {
    left: 11em;
  }
}
.col-full {
  max-width: 1528px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .col-full {
    padding: 0 50px;
  }
}

header .col-full {
  padding: 0;
}

.woocommerce-active .site-header .main-navigation {
  width: 100%;
}

a, button, input {
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
a:focus, a:focus-visible, button:focus, button:focus-visible, input:focus, input:focus-visible {
  outline: none;
}

.m__0,
.m__0 > p {
  margin: 0 !important;
}

.mb__0 {
  margin-bottom: 0;
}

.mb__1 {
  margin-bottom: 20px;
}

.mb__2 {
  margin-bottom: 30px;
}

.mb__3 {
  margin-bottom: 50px;
}

.mb__4 {
  margin-bottom: 10px;
}

.mb__5 {
  margin-bottom: 15px;
}

.mb__6 {
  margin-bottom: 5px;
}

.mt__1 {
  margin-top: 20px;
}

.mt__2 {
  margin-top: 30px;
}

.mt__3 {
  margin-top: 50px;
}

.mt__4 {
  margin-top: 10px;
}

.mt__5 {
  margin-top: 15px;
}

.mt__6 {
  margin-top: 5px;
}

.mr__1 {
  margin-right: 10px;
}

.mr__2 {
  margin-right: 5px;
}

.mr__3 {
  margin-right: 20px;
}

.ml__1 {
  margin-left: 5px;
}

.ml__2 {
  margin-left: 10px;
}

.ml__3 {
  margin-left: 20px;
}

.ml__4 {
  margin-left: 10px;
}

.banner {
  background: center no-repeat url(../../assets/img/background.png);
  position: relative;
  padding: 32px 10px 58px;
  margin: 10px 0 24px;
}
@media (min-width: 834px) {
  .banner {
    margin: 10px 0 80px;
    height: 496px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .banner {
    margin: 28px 0 80px;
  }
  .banner:before {
    content: " ";
    background: center no-repeat url(../../assets/img/Rectangle-73.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: -230px;
    height: 150%;
    background-position: center right;
    z-index: 9;
  }
  .banner:after {
    content: " ";
    background: center no-repeat url(../../assets/img/Rectangle-74.png);
    position: absolute;
    bottom: 0;
    right: 0;
    left: -240px;
    height: 150%;
    background-position: center left;
    z-index: 9;
  }
}
.banner .date {
  position: absolute;
  bottom: 8px;
  z-index: 99;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .banner .date {
    bottom: 18px;
  }
}
.banner__section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 834px) {
  .banner__section:before {
    content: " ";
    background: bottom no-repeat url(../../assets/img/overlay.png);
    position: absolute;
    bottom: -46px;
    right: 0;
    left: 14px;
    height: 150%;
    background-position: center bottom;
    z-index: 9;
  }
}
.banner__section .plus {
  background: center no-repeat url(../../assets/img/+.png);
  background-color: #ffffff;
  padding: 22px;
  border-radius: 50%;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .banner__section .plus {
    padding: 36px;
    margin: 110px 0 0 12px;
  }
}
.banner__section-right {
  position: relative;
}
.banner__section-right .total {
  position: absolute;
  top: -20px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 800;
  color: #2a1a5e;
  transform: rotate(4.649deg);
  box-shadow: 0 14px 50px 0 rgba(255, 103, 29, 0.1);
  z-index: 9;
}
@media (min-width: 550px) {
  .banner__section-right .total {
    font-size: 14px;
    padding: 6px 16px;
  }
}
.banner__section-right .total-discount {
  position: absolute;
  left: 32px;
  padding: 0 14px;
  background-color: #ff671d;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  transform: rotate(5.528deg);
  box-shadow: 0 14px 50px 0 rgba(255, 103, 29, 0.1);
}
@media (min-width: 550px) {
  .banner__section-right .total-discount {
    font-size: 48px;
  }
}
@media (min-width: 834px) {
  .banner__section-right .total-discount {
    font-size: 54px;
    padding: 4px 20px;
  }
}
.banner__section-right h2 {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #ff671d;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 6px;
  background-color: #ffffff;
  border-radius: 18px;
}
@media (min-width: 768px) {
  .banner__section-right h2 {
    left: 36px;
    bottom: 50%;
    font-size: 14px;
    padding: 10px 18px;
  }
}
.banner__section-left {
  background-color: #ffffff;
  border-radius: 26px;
  text-align: center;
  max-width: 236px;
  transform: rotate(2.704deg);
}
@media (min-width: 834px) {
  .banner__section-left {
    max-width: 300px;
  }
}
.banner__section-left img {
  max-width: 146px;
  margin: 0 auto;
  border-radius: 26px;
}
@media (min-width: 768px) {
  .banner__section-left img {
    max-width: 200px;
  }
}
.banner__section-left h2 {
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: none;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 4px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .banner__section-left h2 {
    font-size: 18px;
  }
}
.banner__section-left p {
  font-size: 10px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .banner__section-left p {
    font-size: 12px;
  }
}
.banner__section-left .ingredients {
  padding: 0 10px 14px;
}
.banner__section-left .price .new-price {
  font-size: 16px;
  font-weight: 600;
  color: #ff671d;
}

.woocommerce-checkout label .optional {
  display: none;
}
.woocommerce-checkout #order_review,
.woocommerce-checkout #order_review_heading {
  width: 100%;
}
.woocommerce-checkout table th {
  font-size: 14px;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}
.woocommerce-checkout .title-number {
  display: inline-flex;
  width: 35px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #b3bcf3;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .woocommerce-checkout .title-number {
    margin-right: 30px;
    width: 40px;
    height: 40px;
  }
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout .woocommerce-checkout-review-order-table,
.woocommerce-checkout .woocommerce-checkout-payment {
  display: block;
  padding-left: 70px;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
>>>>>>> 00caf23 (checkout changes)
}

body, button, input, select, textarea {
  font-family: "OpenSans-Light", sans-serif;
h3 {
  font-family: "DelaGothicOne-Regular", sans-serif;
  font-weight: 400;
  color: #2a1a5e;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 16px;
  }
}

.input-text,
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  padding: 7px 3px;
}

.input-text:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-row {
  width: 47%;
  margin-bottom: 20px;
}
.form-row.form-row-wide {
  width: 100%;
}
.form-row.form-row-number {
  margin-bottom: 10px;
  user-select: none;
  display: flex;
  justify-content: space-between;
}
.form-row.form-row-number label {
  display: inline-block;
}
.form-row.form-row-number input {
  width: auto;
}

input[type=number] {
  border: none;
  max-width: 34px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  box-shadow: none !important;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]:focus {
  border-bottom: none;
}

.qty-button {
  width: 24px;
  height: 24px;
  display: inline-flex;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.m__0,
.m__0 > p {
  margin: 0 !important;
}

.mb__0 {
  margin-bottom: 0;
}

.mb__1 {
  margin-bottom: 20px;
}

.mb__2 {
  margin-bottom: 30px;
}

.mb__3 {
  margin-bottom: 50px;
}

.mb__4 {
  margin-bottom: 10px;
}

.mb__5 {
  margin-bottom: 15px;
}

.mb__6 {
  margin-bottom: 5px;
}

.mt__1 {
  margin-top: 20px;
}

.mt__2 {
  margin-top: 30px;
}

.mt__3 {
  margin-top: 50px;
}

.mt__4 {
  margin-top: 10px;
}

.mt__5 {
  margin-top: 15px;
}

.mt__6 {
  margin-top: 5px;
}

.mr__1 {
  margin-right: 10px;
}

.mr__2 {
  margin-right: 5px;
}

.mr__3 {
  margin-right: 20px;
}

.ml__1 {
  margin-left: 5px;
}

.ml__2 {
  margin-left: 10px;
}

.ml__3 {
  margin-left: 20px;
}

.ml__4 {
  margin-left: 10px;
}

  justify-content: center;
@media (min-width: 834px) {
  body .navigation-branding .site-logo {
    padding-right: 40px;
  }
}
body .navigation-branding .site-logo img {
  height: 34px;
}
@media (min-width: 992px) {
  body .navigation-branding .site-logo img {
    height: 46px;
  }
}
body .navigation-branding .header-schedule {
  display: none;
}
@media (min-width: 834px) {
  body .navigation-branding .header-schedule {
    display: flex;
  }
}
body .navigation-branding .header-socials {
  display: none;
}
@media (min-width: 834px) {
  body .navigation-branding .header-socials {
    display: flex;
  }
}
@media (min-width: 992px) {
  .top-bar p {
    font-size: 13px;
  }
    padding: 10px 10px 53px;
  }
}
.site-footer h2.title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .site-footer h2.title {
    font-size: 26px;
  padding: 10px;
  .site-footer .footer {
    padding: 40px 10px 36px;
@media (min-width: 992px) {
  .site-footer .footer-bottom p {
    padding: 0 100px;
  }
}
    align-items: center;
@media (min-width: 768px) {
  .site-footer .footer-bottom {
    margin-top: 50px;
  .site-footer .footer-bottom p {
  justify-content: center;
.site-footer .footer-socials .social__list {
  .site-footer .footer-socials .social__list:nth-child(5) {
  .site-footer .footer-socials .social__list-link {
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container .menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .site-footer .footer .menu-footer-container .menu {
    justify-content: space-between;
  }
}
.site-footer .footer .menu-footer-container .menu .menu-item {
  padding: 4px 10px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  transition-duration: 0.3s;
}
.site-footer .footer .menu-footer-container .menu .menu-item a:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .site-footer .footer .menu-footer-container .menu .menu-item a {
    font-size: 16px;
  }

.woocommerce-checkout label .optional {
  display: none;
}
.woocommerce-checkout #order_review,
.woocommerce-checkout #order_review_heading {
  width: 100%;
}
.woocommerce-checkout table th {
  font-size: 14px;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}
.woocommerce-checkout .title-number {
  display: inline-flex;
  width: 35px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #b3bcf3;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .woocommerce-checkout .title-number {
    margin-right: 30px;
    width: 40px;
    height: 40px;
  }
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout .woocommerce-checkout-review-order-table,
.woocommerce-checkout .woocommerce-checkout-payment {
  display: block;
  padding-left: 70px;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
