*,
.page-template-contact-form .col-full{
	margin: 0;
	padding: 0;
	border: 0;
}

.page-template-contact-form {
	background-color: $color-light-blue;

	.col-full {
		max-width: 100%;
	}

	.contact-form {
		padding: 20px;
		margin-bottom: 300px;

		@include media-up($bp-L) {
			padding: 80px;
		}

		&__header {
			.form-title {
				font-family: $font-overpass-bold;
				font-size: 36px;
				font-weight: 700;
				line-height: 110%;
				letter-spacing: 0;
				text-align: left;
				color: $color-light-graphite;
				text-transform: unset;
				padding: 0;
				display: block;
				margin: 0;
				word-spacing: normal;
				max-width: 1010px;

				@include media-up($bp-L) {
					font-size: 96px;
				}

				span {
					color: $color-graphite;
				}
			}

			.form-text {
				font-family: $font-hind;
				font-size: 18px;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: 0;
				text-align: left;
				color: $color-light-graphite;

				@include media-up($bp-L) {
					font-size: 24px;
				}
			}
		}

		&__part {
			display: flex;
			flex-direction: column;
			max-width: 560px;
			margin-top: 10px;

			@include media-up($bp-L) {
				margin-top: 30px;
			}

			.contact-form__input {
				font-family: $font-hind;
				color: $color-graphite;
				font-size: 20px;
				line-height: 150%;
				height: 50px;
				margin-top: 20px;
				box-sizing: border-box;
				border-bottom: 1px solid $color-blue;

				@include media-up($bp-L) {
					font-size: 24px;
				}

				&::placeholder {
					font-family: $font-hind;
					font-size: 20px;
					line-height: 150%;
					color: $color-light-graphite;

					@include media-up($bp-L) {
						font-size: 24px;
					}
				}
			}
		}

		&__part-password {
			position: relative;

			input {
				width: 100%;
			}

			.eye-icon {
				position: absolute;
				top: 50%;
				right: 5%;
				cursor: pointer;
			}
		}

		&__footer {
			margin-top: 30px;

			label {
				font-family: $font-hind-light;
				font-size: 18px;
				line-height: 150%;

				 a {
					 text-decoration: underline;
				 }
			}

			.contact-submit {
				font-family: $font-overpass-semibold;
				font-size: 28px;
				font-weight: 600;
				line-height: 150%;
				color: $color-graphite;
				background-color: unset;
				border-bottom: 2px solid $color-bright-blue;
				padding: 0 6px;
				margin-top: 50px;
				float: right;
				clear: both;

				@include media-up($bp-SM) {
					float: none;
					padding: 0 6px;
					margin-left: 7px;
					margin-top: 0;
				}
			}
		}

		.error-message {
			font-family: $font-proximanova;
			color: $color-red;
			font-size: 16px;
			letter-spacing: 0;
			text-align: left;
		}

		.input-error {
			border-bottom: 1px solid $color-red;
		}
	}
}

.multiselect__tags {
	padding: 0;
	border: 0;
	background: none;

	.multiselect__placeholder {
		font-family: $font-hind;
		font-size: 20px;
		line-height: 150%;
		color: $color-light-graphite;

		@include media-up($bp-L) {
			font-size: 24px;
		}
	}

	.multiselect__single {
		background-color: transparent;
		vertical-align: text-top;
		font-family: $font-hind;
		color: $color-graphite;
		font-size: 20px;
		line-height: 150%;
		box-sizing: border-box;

		@include media-up($bp-L) {
			font-size: 24px;
		}
	}
}

.multiselect__select {
	&::before {
		top: 100%;
	}
}

.multiselect__option--highlight {
	background: none;
	outline: none;
	color: inherit;

	&:after {
		background: none;
	}
}

.multiselect__option--selected.multiselect__option--highlight {
	background: none;
	color: inherit;

	&:after {
		background: none;
	}
}