.banner {
  background: center no-repeat url(../../assets/img/background.png);
  position: relative;
  padding: 32px 10px 58px;
  margin: 10px 0 24px;

  @include media-up($bp-ML) {
    margin: 10px 0 80px;
    height: 496px;
    padding: 0;
  }

  @include media-up($bp-XL) {
    margin: 28px 0 80px;

    &:before {
      content: " ";
      background: center no-repeat url(../../assets/img/Rectangle-73.png);
      position: absolute;
      bottom: 0;
      left: 0;
      right: -240px;;
      height: 150%;
      background-position: center right;
      z-index: 9;
    }

    &:after {
      content: " ";
      background: center no-repeat url(../../assets/img/Rectangle-74.png);
      position: absolute;
      bottom: 0;
      right: 0;
      left: -240px;;
      height: 150%;
      background-position: center left;
      z-index: 9;
    }
  }

  .date {
    position: absolute;
    bottom: 8px;
    z-index: 99;
    color: $color-2;
    left: 50%;
    transform: translate(-50%, 0);

    @include media-up($bp-M) {
      bottom: 18px;
    }
  }

  &__section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include media-up($bp-XL) {
      &:before {
        content: " ";
        background: bottom no-repeat url(../../assets/img/overlay.png);
        position: absolute;
        bottom: -46px;
        right: 0;
        left: 14px;
        height: 150%;
        background-position: center bottom;
        z-index: 9;
      }
    }

    .plus {
      display: none;

      @include media-up($bp-M) {
        display: inline-block;
        background: center no-repeat url(../../assets/img/+.svg) $color-2;
        border-radius: 50%;
        padding: 36px;
        margin: 110px 0 0 12px;
      }
    }

    &-right {
      position: relative;
      font-family: $font-bold;

      .total {
        display: none;

        @include media-up($bp-M) {
          display: inline-block;
          position: absolute;
          top: -20px;
          background-color: $color-2;
          border-radius: 20px;
          color: $color-1;
          transform: rotate(4.649deg);
          box-shadow: 0 14px 50px 0 rgba(255, 103, 29, 0.10);
          z-index: 9;
          font-size: 18px;
          padding: 2px 12px;
        }

        @include media-up($bp-XL) {
          top: 8%;
        }
      }

      .total-discount {
        position: absolute;
        left: 32px;
        padding: 0 14px;
        background-color: $color-10;
        border-radius: 50px;
        font-size: 30px;
        line-height: 1.3;
        color: $color-2;
        transform: rotate(5.528deg);
        box-shadow: 0 14px 50px 0 rgba(255, 103, 29, 0.10);

        @include media-up($bp-SM) {
          font-size: 50px;
          padding: 0 30px;
        }

        @include media-up($bp-L) {
          font-size: 75px;
        }

        @include media-up($bp-XL) {
          top: 12%;
        }
      }

      h2 {
        display: inline-flex;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 12px;
        color: $color-10;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 6px;
        background-color: $color-2;
        border-radius: 18px;

        @include media-up($bp-M) {
          left: 36px;
          bottom: 50%;
          font-size: 14px;
          padding: 7px 18px;
        }

        &::after {
          content: url(../../assets/img/fire.svg);
          display: inline-block;
          font-size: 0;
        }
      }

      .attachment-woocommerce_thumbnail {
        margin-top: 10%;

        @include media-up($bp-SM) {
          margin-top: 20%;
        }

        @include media-up($bp-XL) {
          margin-top: 40%;
        }
      }
    }

    &-left {
      background-color: $color-2;
      border-radius: 26px;
      text-align: center;
      max-width: 236px;
      transform: rotate(2.704deg);

      @include media-up($bp-ML) {
        max-width: 300px;
      }

      img {
        max-width: 146px;
        margin: 0 auto;
        border-radius: 26px;

        @include media-up($bp-M) {
          max-width: 200px;
        }
      }

      h2 {
        font-family: $font-bold;
        text-transform: none;
        font-size: 14px;
        padding: 10px 10px 0;
        font-weight: 700;

        @include media-up($bp-M) {
          font-size: 18px;
        }
      }

      p {
        font-size: 10px;
        padding-bottom: 12px;

        @include media-up($bp-M) {
          font-size: 12px;
        }
      }

      .ingredients {
        padding: 0 10px 14px;
      }

      .price {
        .new-price {
          .woocommerce-Price-amount {
            font-size: 20px;
            color: $color-10;
          }
        }
      }
    }
  }
}