.woocommerce-checkout {
	label .optional {
		display: none;
	}


	#order_review,
	#order_review_heading {
		width: 100%;
	}

	table.woocommerce-checkout-review-order-table {
		overflow: hidden;
		max-width: 100%;

		@include media-up($bp-M) {
			margin-left: 70px;
			max-width: calc(100% - 70px);
		}

		td, th {
			vertical-align: middle;
			padding: min(2%, 30px);
			overflow-wrap: normal;
		}

		th {
			font-size: 14px;
			font-family: $font-base;
			font-weight: 400;
		}

		&:not( .has-background ) th,
		&:not( .has-background ) td {
			background-color: transparent !important;

		}

		tr.cart_item {
			position: relative;

			&::after {
				content: url(../../assets/img/dashed-line.svg);
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				font-size: 0;
			}
		}

		.product-name {
			font-family: $font-bold;
			color: $color-1;
			font-weight: 700;
			font-size: 14px;
			width: auto;

			.weight {
				color: $color-18;
			}
		}

		.product-image {
			display: none;
			width: 140px;
			position: relative;

			@include media-up($bp-M) {
				display: table-cell;
			}

			img.badge-item {
				max-width: 25px;
			}

			.badges {
				position: absolute;
				bottom: 20px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				left: 0;
			}
		}

		td.product-quantity {
			font-family: $font-bold;
			color: $color-1;
			font-weight: 700;
			font-size: 14px;
			min-width: 40px;
		}

		.product-price {
			display: none;
			@include media-up($bp-M) {
				display: table-cell;
			}
		}

	}

	.title-number {
		display: inline-flex;
		width: 35px;
		height: 35px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex-shrink: 0;
		border-radius: 50%;
		background: $color-9;
		margin-right: 15px;

		@include media-up($bp-M) {
			margin-right: 30px;
			width: 40px;
			height: 40px;
		}
	}

	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-checkout-payment {
		@include media-up($bp-M) {
			padding-left: 70px;
		}
	}

	.woocommerce-billing-fields__field-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.place-order {
		display: none !important;
	}

	form.checkout {
		display: flex;
		flex-wrap: wrap;

		& > .col-1,
		& > .col-2 {
			width: 100%;
			max-width: none;
		}

		@include media-up($bp-XL) {
			& > .col-1 {
				width: calc(70% - 30px);
				margin-right: 30px;
			}

			& > .col-2 {
				width: 30%;
			}
		}
	}

	.checkout-total {
		background-color: $color-19;
		width: 100%;
		border-radius: 24px;
		margin-top: 50px;
		padding: min(8%, 30px);
		clear: both;

		@include media-up($bp-XL) {
			margin-top: 20px;
		}

		.row {
			display: flex;
			column-gap: 20px;
			justify-content: space-between;
			align-items: center;
		}

		.shipping {
			font-size: 14px;
			font-family: $font-light;
			font-weight: 300;
			color: $color-11;

			.woocommerce-Price-amount {
				font-family: $font-base;
				font-weight: 400;
			}
		}

		.col-2,
		.col-2 .woocommerce-Price-amount {
			font-family: $font-base;
			font-size: 16px;
			font-weight: 400;
			color: $color-1;

			@include media-up($bp-M) {
				font-size: 20px;
			}
		}

		.order-total {
			border-top: 1px solid $color-21;
			border-bottom: 1px solid $color-21;
			padding: 25px 0;
			margin: 35px 0 50px;

			.woocommerce-Price-amount {
				font-family: $font-bold;
				font-size: 20px;
				font-weight: 700;
				color: $color-1;

				@include media-up($bp-M) {
					font-size: 24px;
				}
			}
		}

		.button {
			margin: 0 auto;
		}
	}

	.form-row.woocommerce-invalid input.input-text {
		box-shadow: none;
		border-color: $color-5;
	}

	.form-row.woocommerce-validated input.input-text {
		box-shadow: none;
		border-color: $color-7;
	}

	.store-location {
		color: $color-18;
		margin-top: 15px;
		text-align: center;
		vertical-align: middle;

		&::before {
			content: url(../../assets/img/location.svg);
			margin-right: 5px;
		}
	}

	.billing-city-field {
		border: 1px solid $color-1;
		border-radius: 24px;
		padding: 15px 50px;
		cursor: pointer;
		position: relative;

		&::before {
			content: url(../../assets/img/location_blue.svg);
			position: absolute;
			left: 12px;
			top: 23px;
		}

		&::after {
			content: url(../../assets/img/arrow_right_blue.svg);
			position: absolute;
			right: 20px;
			top: 30px;
		}

		label {
			color: $color-18;
			font-family: $font-base;
			font-size: 12px;
			font-weight: 400;
			cursor: pointer;
		}

		.woocommerce-input-wrapper {
			position: relative;
			z-index: -1;
		}

		input {
			border: none;
			color: $color-1;
			font-family: $font-bold;
			font-size: 16px;
			font-weight: 700;
			padding: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
	}

}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info:not(.cart-empty) {
	border: none;
	position: fixed;
	z-index: 9999;
	margin: 0 auto 30px;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 70px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow: hidden;
	transform: translateY(300%);
	animation: thb-slide-in, thb-slide-out;
	animation-duration: 1.5s, 1.5s;
	animation-delay: 0.5s, 5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	text-align: left;
	border-radius: 24px;
	width: 90%;
	max-width: 970px;
}

.woocommerce-error {
	background-color: $color-5;
}

.woocommerce-message {
	background-color: $color-7;
}

@keyframes thb-slide-in {
	0% {
		transform: translateY(300%)
	}

	100% {
		transform: translateY(0%)
	}
}

@keyframes thb-slide-out {
	0% {
		transform: translateY(0%)
	}

	100% {
		transform: translateY(300%)
	}
}

#payment .payment_methods > li:not(.woocommerce-notice),
#payment .payment_methods > li:not(.woocommerce-notice):hover {
	background-color: transparent;
}

.shipping-zones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0 15px;
	column-gap: 10px;
	@include media-up($bp-M) {
		column-gap: 15px;
	}

	.button {
		margin-bottom: 10px;
		max-width: 215px;
		width: calc(50% - 5px);

		@include media-up($bp-M) {
			margin-bottom: 15px;
			width: calc(50% - 10px);
		}
	}
}