.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	display: none;
}

.single-product div.product {
	padding: 0 10px;

	.product_title {
		justify-content: left;
		padding: 14px 0 14px;
		font-size: 16px;
		line-height: 110%;

		@include media-up($bp-M) {
			padding-top: 50px;
			font-size: 26px;
		}

		@include media-up($bp-L) {
			padding: 50px 0 34px;
		}
	}

	.product_meta {
		border-top: none;
		max-width: 420px;
		padding-top: 0;

		.posted_in {
			display: none;
		}

		.tagged_as,
		a {
			font-family: $font-light;
			font-size: 14px;
			color: $color-11;
			text-decoration: none;
			font-weight: 300;
		}
	}

	form.cart {
		display: flex;
		flex-direction: column;

		.single_add_to_cart_button {
			margin-top: 15px;
			margin-bottom: 10px;

			@include media-up($bp-M) {
				margin-bottom: 0;
			}
		}
	}

	.woocommerce-product-attributes {
		tbody {
			display: flex;

			tr {
				display: flex;

				&:not(:last-child):after {
					content: "/";
					padding: 0 8px;
					display: flex;
					align-items: center;
				}
			}
		}

		.woocommerce-product-attributes-item__label {
			display: none;
		}

		.woocommerce-product-attributes-item__value {
			font-family: $font-light;
			font-size: 14px;
			background: none;
			padding: 8px 0 10px 0;
		}
	}

	p.price {
		margin: 0;

		@include media-up($bp-M) {
			margin: 20px 0 0;
		}
	}

	form.cart {
		position: relative;
		padding: 24px 0 0;

		.single_add_to_cart_button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row-reverse;
			max-width: 232px;

			&::before {
				content: url(../../assets/img/add.svg);
				display: inline-block;
				font-size: 0;
				margin-left: 10px;
			}
		}

		.quantity {
			position: absolute;
			right: 0;
			top: 8%;

			@include media-up($bp-M) {
				position: unset;
			}
		}

		.qty-button {
			transition: $transition-ease;

			&:hover {
				background-color: $color-25;
			}
		}
	}

	.gift-product {
		display: inline-flex;
		flex-direction: row;
		max-width: 345px;
		box-shadow: 0 4px 15px 0 $color-17;
		border-radius: 30px;
		padding: 4px 22px;
		max-height: 89px;

		@include media-up($bp-M) {
			padding: 22px;
			flex-direction: column;
			max-width: 160px;
			max-height: 134px;
			position: absolute;
			right: 0;
			bottom: 40%;
		}

		@include media-up($bp-L) {
			max-width: 182px;
			max-height: 160px;
			bottom: 0;
		}

		@include media-up($bp-XL) {
			right: 26%;
		}

		@include media-up($bp-2XL) {
			right: 36%;
		}

		h3 {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			line-height: 110%;
			color: $color-10;

			@include media-up($bp-M) {
				margin-bottom: 15px;
			}
		}

		img {
			max-width: 110px;
			margin-left: auto;
		}
	}
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 345px;
	border-radius: 50px;
	background: $color-2;
	box-shadow: 0 4px 15px 0 $color-17;
	max-height: 232px;
	height: 232px;
	margin: 60px auto 24px;

	@include media-up($bp-M) {
		width: 30.4347826087%;
	}

	@include media-up($bp-L) {
		max-width: 37.32%;
		width: 37.32%;
		max-height: 446px;
		height: 365px;
		margin-top: 10px;
		margin-left: 10px;
	}

	@include media-up($bp-4XL) {
		height: 446px;
	}

	.wp-post-image {
		max-width: 200px;
		height: fit-content;

		@include media-up($bp-L) {
			max-width: 464px;
		}
	}

	.badges {
		top: 12px;
		right: 12px;

		@include media-up($bp-L) {
			top: 19px;
			right: 21px;
		}
	}
}

.storefront-full-width-content.single-product div.product {
	.summary {
		max-width: 400px;
		margin: 0 auto 3em;

		@include media-up($bp-M) {
			max-width: 100%;
			margin-bottom: 4px;
		}

		@include media-up($bp-L) {
			margin-bottom: 6px;
		}
	}
}

.single-product div.product .woocommerce-product-gallery img {
	margin: 0 auto;
}

.storefront-full-width-content .related.products>h2:first-child {
	max-width: 836px;
}